html{
    font-size: 16px;
}
body{
    background-image: url(../img/product_bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    opacity: 0.9;
    margin-top: 3%; 
    background-color: papayawhip;
}

#title{
    margin-left:-50%;
    font-size: 6rem;
    text-align: center;
    color: rgb(248, 185, 82);
    font-family: 'Gamja Flower', cursive;
    margin-top: 5%;
    margin-left: 50%;
    text-shadow:0px 0px 5px black;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {left:0rem; top:-3rem;}
    100% {left:0rem; top:0rem;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:0rem; top:-3rem;}
    100% {left:0rem; top:0rem;}
}

#content{
    background-color: rgb(255, 255, 255, 0.5);
    margin: 0 auto;
    margin-top: 3%; 
    color: rgb(83, 81, 81); 
    min-width: 720px;
}

#unknow{
    background-color: white;
    height: 100rem;
}







