/*index.css*/
html{
    font-size: 16px;
}
body{
    background-image: url(../img/product_bg.jpg);
    /*background-color: white;*/
    background-attachment: fixed;
    background-position: right top;
    background-size: cover;
}

nav{
    opacity: 0.8;
    margin-top: 3%; 
    background-color: papayawhip;
}

h1{
    font-size: 6rem;
    text-align: center;
    color: papayawhip;
    font-family: 'Gamja Flower', cursive;
    margin-top: 10%;
    text-shadow:0px 0px 10px black;
}


#myText{
    color: brown;
    margin-top:3%;
    height: 35rem;;
    background-color: rgb(250, 250, 250, 0.8);
}

#post_list{
    background-color: white;
    margin-top: 5%;
    margin-left: 2%;
    min-width: 661px;
}
#product_list{
    background-color:rgb(255, 255, 255, 0.8);
    margin-top:5%;
    margin-left: 5%;
    margin-right: 5%;
    min-width: 661px;
}

#product{
    margin-top: 2%;
    margin-left: 2%;
    background-color: rgb(250, 235, 215, 0.8);
    border-radius: 0.4rem;
    border-color: brown;
    border-width: 1rem;
    height: 11rem;
}

.btnBuy{
    background-color: chocolate;
    color: white; 
    margin-left: 4%;
    float: right;
    font-size: 1.3rem;
    height: 3rem;
    width: 5rem;
    border-color: white;
    border-width: 0.05rem;
    border-radius: 1rem;
    text-align: center;

}

#product_img{
    display: block;
    text-align: center;
    margin-top: 5%;
    border-radius: 1.5rem;
}

#price{
    font-family: 'Gamja Flower', cursive;
    font-size: 3rem;
    color: red;
    text-shadow:0px 0px 5px white;
    margin-top:30%;
}

#productName{
    font-family: 'Gamja Flower', cursive;
    text-shadow:0px 0px 5px white;
    margin-top: 15%;
    font-size: 3rem;
}

#cart{
    margin-top: 150%;
}
#trash{
    margin-top: 150%;
}

#delete{
    margin-top:4%;
}

#line{
    border: 0;
    color: lightslategrey;
    background-color: rgb(136, 149, 161); 
    height: 3px;
    opacity: 0.8;
}

#bill{
    height: 40%;
    width: 40%;
    float: right;
    display: block;
}

#total{
    font-size: 2rem;
}

#table{
    display: block;
    background-color:rgb(255, 255, 255, 0.8); 
    height: 160px;
    min-width: 661px;
}

#checkout{
    margin-top:20%;
}