html{
    font-size: 16px;
}
body{
    background-image: url(../img/product_bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    opacity: 0.9;
    margin-top: 3%; 
    background-color: papayawhip;
}

h1{
    font-size: 6rem;
    text-align: center;
    color: rgb(248, 185, 82);
    font-family: 'Gamja Flower', cursive;
    margin-top: 10%;
    text-shadow:0px 0px 5px black;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {left:0rem; top:-5rem;}
    100% {left:0rem; top:0rem;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:0rem; top:-5rem;}
    100% {left:0rem; top:0rem;}
}
h2{
    text-align: center;
    margin: 0 auto;
    color: brown;
    font-family: 'Gamja Flower', cursive;
    text-shadow:0px 0px 1px white;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
}

#btnShop{
    text-align: center;
    margin-left: 45%;
    margin-top: 2%;
    font-family: 'Gamja Flower', cursive;
    font-size: 1.5rem; 
    border-radius: 0.5rem;
    border-color: saddlebrown;
    text-shadow:0px 10px 20px white;
    background-color: papayawhip;
    color: saddlebrown;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
}

#btnShop:hover{
    background-color: transparent;
    font-size: 2rem;
    text-shadow:0px 10px 30px black;
    margin-left: 44%;
    color: papayawhip;
    font-style: bold;
    border-color: gray;
    border-width: 0.3rem;
    border-radius: 1rem;
}

#aboutUs{
    background-color: rgb(247, 238, 223);
    opacity: 0.5;
    margin: 30% 5% 5%;
    border-radius: 0.8rem;
}

#aboutUs{
    text-align: unset;
}
p{
    background-color: snow;
}

