/*index.css*/
html{
    font-size: 16px;
}
body{
    background-image: url(../img/product_bg.jpg);
    background-attachment: fixed;
    background-position: right top;
    background-size: cover;
}

nav{
    opacity: 0.8;
    margin-top: 3%; 
    background-color: papayawhip;
}

h1{
    font-size: 6rem;
    text-align: center;
    color: papayawhip;
    font-family: 'Gamja Flower', cursive;
    margin-top: 10%;
    text-shadow:0px 0px 10px black;
}


#myText{
    color: brown;
    margin-top:3%;
    height: 35rem;;
    background-color: rgb(250, 250, 250, 0.8);
}

#btnUL{
    margin-left: 1%;
    border-radius: 0.5rem;
}

#postbtn{
    border-radius: 0.3rem;
    background-color: green;
    color:white;
    width:4.5rem;
    height:1.9rem;
}
#post_btn{
    background-color: gray;
    width:4.5rem;
    height:1.9rem;
    color: white;
    border-radius: 0.3rem;
    text-align:center;
}

#file{
    margin-left: 1%;
    border-radius: 1rem;
}
#dymamic-menu{
    text-align: right;
}