/*index.css*/
html{
    font-size: 16px;
}
body{
    background-image: url(../img/product_bg.jpg);
    background-attachment: fixed;
    background-position: right top;
    background-size: cover;
    /*margin: 15% auto;*/
}

nav{
    opacity: 0.8;
    margin-top: 3%; 
    background-color: papayawhip;
}

h1{
    font-size: 6rem;
    text-align: center;
    color: papayawhip;
    font-family: 'Gamja Flower', cursive;
    margin-top: 10%;
    text-shadow:0px 0px 10px black;
}


#myText{
    color: brown;
    margin-top:3%;
    height: 35rem;;
    background-color: rgb(250, 250, 250, 0.8);
}

#post_list{
    margin-top: 5%;
    margin-left: 2%
}

#product{
    margin-top: 2%;
    margin-left: 2%;
    padding: 1%;
    background-color: rgb(250, 235, 215, 0.8);
    border-radius: 0.4rem;
    border-color: brown;
    border-width: 1rem;
    float: left; 
    width: 20rem;
}

.btnQV{
    background-color: chocolate;
    color: white; 
    margin-left: 2%;
    float: left;
    font-size: 1.3rem;
    height: 3rem;
    width: 8rem;
    border-color: white;
    border-width: 0.05rem;
    border-radius: 1rem;
    text-align: center;

}

#product_img{
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 1rem;
    size: 100% auto;
}

#price{
    font-family: 'Gamja Flower', cursive;
    font-size: 2rem;
    color: red;
    text-shadow:0px 0px 5px white;
    float: left;
    margin-left: 15%;
}

.content{
    margin: auto 5% ;
}

.number_modal{
    height: 2rem;
    width: 4rem;;
    box-shadow: 0px 0px 3px black;
    border-radius: 0.5rem;
    margin-left: 4%;
}

#price_modal{
    text-align: center;
    font-size: 1.5rem;
    margin: auto 0;
    margin-right: 2%;
}

#buy_modal{
    margin-left: 3%;
}

.loader {
    color: rgb(248, 185, 82);
    font-size: 20px;
    margin: 0 auto;
    margin-top: 25%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  